{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('active') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}