{% extends 'base.html.twig' %}

{% block body %}
    {% if message %}
        <p>{{ message }}</p>
        <a href="{{ path('login') }}">Se connecter</a>
    {% else %}
        <p>{{ messageError }}</p>
    {% endif %}

{% endblock %}