{% block flashBag %}
    {% for message in app.flashes('message-succes') %}
        <div class="message-succes">
            <div class="flash-notice alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('message-error') %}
        <div class="message-error">
            <div class="flash-notice alert alert-error alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endblock %}