{% block body %}

    <h3>Confirmation de votre demande de changement de mot de passe.</h3>

    <p>Bonjour {{ user }}, pour modifier votre mot de passe sur <a href="http://snowtricks.com">Snowtricks.com</a> veuillez cliquer sur le liens suivant :
    </p>

{% endblock %}