{% block body %}

<h3>Confirmation de votre insription et activation de votre compte.</h3>

<p>Bonjour , nous vous confirmons la création de votre compte sur <a href="{{ path('home_page') }}">Snowtricks.com</a> et nous vous en remercions.</p>

    <p>Pour confirmer votre inscription veuillez cliquer sur le liens suivant : </p>

<p>Merci et à très bientôt sur <a href="{{ path('home_page') }}">Snowtricks.com</a></p>


{% endblock %}