{% block body %}

<h3>Confirmation de votre insription et activation de votre compte.</h3>

<p>Bonjour {{ user.username }}, nous vous confirmons la création de votre compte sur <a href="http://snowtricks.com">Snowtricks.com</a> et nous vous en remercions. <br>
    Pour confirmer votre inscription veuillez cliquer sur le liens suivant : <a href="http://snowtricks.com/activeAccount/{{ user.id }}/{{ user.confirmKey }}">Activer mon compte</a> <br>
    Merci et à très bientôt sur <a href="http://snowtricks.com">Snowtricks.com</a>
</p>

{% endblock %}