{% extends 'base.html.twig' %}

{% block title %}{{ tricks.name }} - SnowTricks{% endblock %}

{% block body %}
    {% if background %}
        {% set back = background.name %}
    {% else %}
        {% set back = 'noimg.png' %}
    {% endif %}
    <div class="detail-background d-flex justify-content-center" style="background-image: url({{ illustrations_folder }}/{{ back }})">
        <div class="detail-card">
            {% include 'tricks/details_card.html.twig' %}
        </div>
    </div>
{% endblock %}
