{% extends 'base.html.twig' %}

{% block title %} Editer la figure {{ tricks.name }} - SnowTricks{% endblock %}


{% block body %}
    {% if background %}
        {% set back = background.name %}
    {% else %}
        {% set back = 'noimg.png' %}
    {% endif %}
    <div class="detail-background d-flex flex-column align-items-center" style="background-image: url({{ illustrations_folder }}/{{ back }})">
        <div class="detail-card vw_100">
            {% include 'tricks/edit_card.html.twig' %}
        </div>
    </div>
{% endblock %}
